@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-color:#FFD3BA;
}

ul{
  list-style-type: none;
  background-color: none;
  width: 100%;  
  overflow: hidden;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  margin: 0;
}
li{
  float: left;
}
li a{
  display: block;
  font-family: 'Raleway';
  color: black;
  text-decoration: none;
  padding: 15px 50px;
  border-style: none;
}
li a:hover{
  background-color: antiquewhite;
  color: black;
}
center {
  font-size: 65px;
  font-family: 'Bungee';
  background: desaturate(lime, 60%);
  color: #e75480;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
               10px 20px 5px rgba(0,0,0,0.05),
               -10px 20px 5px rgba(0,0,0,0.05);
}
img{
 height: 600px
}
